

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 80px 0px 60px;

    

    nav {
        // @include flex-center;
        justify-content: space-between;
        padding:0px 0px 0px 0px;
        width: 100%;
        max-width: 1440px;
        background-color: white;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(70, 163, 88, 0.5);

        .ul_items {
            list-style: none;
            

            .li_items {

                a {
                    text-decoration: none;
                    margin: 0 1.5rem;
                    color: #3D3D3D;
                    font-size: 16px;
                    font-family: Cera Pro;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }

            .logo {
                text-transform: uppercase;
                width: 150px;
                height: 34.3px;
                flex-shrink: 0;
            }
        }
    
        .buttons {
                display: flex;
                align-items: center;
                gap: 20px;
            button {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #46a358;
                  border-radius: 6px;
                  border-style: none;
                  padding: 8px 17px;
                  color: white;
                  font-size: 1rem;
                  gap: 3px;
          
                  cursor: pointer;
            }
        }
        .nav__link {
            margin-left: -100px;
            ul {
              display: flex;
              list-style-type: none;
              gap: 40px;
              li {
                padding: 22px 0;
                font-size: 16px;
                cursor: pointer;
              }
              .activeTitle {
                border-bottom: 3px solid #46a358;
                font-weight: 700;
              }
            }
        }  
    }

}


















